.real-challenge-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    
}

.timer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer{
    margin: 0;
    font-size: 38px;
    font-weight: 600px;
}

.timerr{
    margin: 0;
}

.text-area-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 90%;
}

.text-area-left{
    display: flex;
    flex-grow: 1;
    width:50%;
}
.text-area-right{
    display: flex;
    flex-grow: 1;
    width:50%;
}
.textarea {
    font-size: 15px;
    text-align: left;
    flex-grow: 1;
    height: 600px;
    width: 100%;
    padding: 10px;
    line-height: 18px;
    flex-wrap: wrap;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: scroll;
}

.text-area-left:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.textarea:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.test-paragraph {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    background: #e9e7e4;
    padding: 12px;
    font-weight:lighter;
    /* display: flex;
    flex-direction: row; */
}
.textarea::-webkit-scrollbar {
    display: none;
}

.textarea {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
